<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetMyPG"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.OwnerPayFeeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OwnerCustomerDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OwnerPGMessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserPGMessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OwnerAcceptRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserProductListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.OwnerRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.CheckOutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ImageZoomViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProductPGDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.ProductMessDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.UserSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.EditMessMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddNewBussinessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserMainActivity"
            android:exported="false"
            android:label="@string/title_activity_user_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.OwnerMainActivity"
            android:exported="false"
            android:label="@string/title_activity_owner_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GetMyPG.NoActionBar" />
        <activity
            android:name=".Activities.OwnerSetProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserSetProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OwnerLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SelectUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>